<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0., Culture=neutral" >
			<section name="Cafe_Menu4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0, Culture=neutral" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
    
    <connectionStrings>
        <add name="Cafe_Menu4.Properties.Settings.Setting" connectionString="Data Source=LAPTOP-LL7MF4G0\MSSQL_APPOINT;Initial Catalog=Cafe4;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>